*.pt
*.pth
*.h5
*.pkl
*.bin

__pycache__/
*.py[cod]
*$py.class

venv/
env/
.venv/

.vscode/
.idea/
*.swp
*.swo

*.tmp
*.temp

.DS_Store
Thumbs.db
desktop.ini

logs/
datasets/
*.log

!runs/train/vertebrae_final/args.yaml
!runs/train/vertebrae_final/results.csv
!runs\two_stage_fixed\stage2_fixed\results.csv


paxray_yolo_seg/
paxray_yolo_seg_augmented/
yolo_env/
